<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
	<div class="container my-5">
	<h3> Add Playlist</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/playlists/add}"
						th:object="${playlist}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Name</label> <input
									type="text" th:field="*{name}" class="form-control" id="name"
									placeholder="Name"> <span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nameOfSong" class="col-form-label">Name of Song</label> <input
									type="text" th:field="*{nameOfSong}" class="form-control" id="nameOfSong"
									placeholder="Song"> <span
									th:if="${#fields.hasErrors('nameOfSong')}" th:errors="*{nameOfSong}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="singer" class="col-form-label">Singer</label> <input
									type="text" th:field="*{singer}" class="form-control" id="singer"
									placeholder="singer"> <span
									th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"
									class="text-danger"></span>
							</div>
							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add playlist">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>